/* importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to right, #000636, #000000);
}

/* SECCION I N I C I O */
.inicio{
    background:linear-gradient(to right, #000636, #000000);
    clip-path: polygon(0 0, 100% 0, 100% 46%, 20% 84%, 0 45%);
    height: 90vh;
    padding:  0 20px;
}
.inicio .contenido{
    max-width: 1100px;
    margin: auto;
    color: #fff;
}
.inicio header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.inicio .logo{
    display: flex;
    align-items: center;
    color: #fd67f3;
    font-size: 25px;
}
.inicio .logo i{
    display: inline-block;
    margin-right: 20px;
}
#inicio header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid transparent;
}
#inicio header nav a:hover{
    border-bottom: 2px solid #fd67f3;
    box-shadow: 7px 5px 56px -14px #fd67f3;
}
.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}
.inicio .fila .col{
    width: 50%;
}
.inicio .fila .col h2{
    margin-bottom: 15px;
    font-size: 40px;
}
.inicio .fila .col p{
    margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img{
    max-width: 400px;
    margin: auto;
}
.inicio .fila .col .contenedor-img img{
    width: 100%;
}
.inicio .fila .col button{
    color: white;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border: 1px solid #fd67f3;
    border-radius: 50px;
    background-color: transparent;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.inicio .fila .col button:hover{
    box-shadow: 7px 5px 56px -14px #fd67f3;
}
.inicio .fila .col button:active{
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px white;
}
#icono-nav{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}
#icono-nav:hover{
    background-color: #3e3e3e;
}
.sombra{
    filter:drop-shadow(0em 30px 20px #fd67f3);
}
/* SECCION S E R V I C I O S */
.servicios{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -170px;
    z-index: 10;
}
.servicios .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.servicios .fila .col{
    text-align: center;
    width: 30%;
}
.servicios .fila .col .card{
    border: 1px solid #8d8d8d;
    height: 460px;
    background: linear-gradient(to right, #000636, #000000);
    padding: 30px;
    border-radius: 20px;
    position: relative;
}
.servicios .icono{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.servicios .icono .circulo{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.color1{
    background: linear-gradient(#ffea00, #ffe100);
}
.color2{
    background: linear-gradient(#d902ff, #ff2cce);
}
.color3{
    background: linear-gradient(#0040ff, #1ad1ff);
}
.color4{
    background: linear-gradient(#ffaa00, #ff6a00);
}
.color5{
    background: linear-gradient(#000000, #ababab);
}
.color6{
    background: linear-gradient(#ff0000, #ff4a4a);
}
.servicios h3{
    color: white;
    margin-bottom: 20px;
}
.servicios .card p{
    color: white;
    line-height: 28px;
    font-size: 15px;
}
.servicios .card a{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.servicios .card a:hover{
    color: #fd67f3;
}

/* SECCION T R A B A J O S */
.trabajos{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.trabajos h2{
    text-align: center;
    color: white;
}
.trabajos nav{
    text-align: center;
    margin: 30px 0;
}
.trabajos nav a{
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    font-weight: bold;
    padding: 3px 10px;
    border: 2px solid transparent;
    border-radius: 15px;
}
.trabajos nav a:hover{
    border: 2px solid #fd67f3;
    background-color: transparent;
    box-shadow: 7px 5px 56px -10px white;
    color: white;
}
.trabajos nav a:active{
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px white;
}
/* Esta clase se agregrá dinámicamente cuando haya seleccionada una opción */
.borde{
    border: 1px solid #fd67f3 !important;
}
.trabajos .galeria .item img{
    width: 100%;
    height: 100%;
    display: block;
}
.trabajos .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:30px;
}
.trabajos .galeria .item{
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d ;
    border-radius: 10px;
}
.trabajos .galeria .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.trabajos .galeria .item .info{
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}
.trabajos .galeria .item .info h3{
    color: white;
    margin-bottom: 20px;
}
.trabajos .galeria .item .info span{
    color: #8d8d8d;
    display: inline-block;
    border: 2px solid #8d8d8d;
    margin: 0 3px;
    padding:  0 5px;
}
.trabajos .galeria .item .info a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.trabajos .galeria .item .info a:hover{
    color: #fd67f3;
}
.trabajos .galeria .item:hover .info{
    opacity: 1;
    top: 0;
}

/* SECCIÓN C O N T A C T O */
.contacto{
    color: #fff;
    margin-top: 100px;
    padding: 80px 20px;
}
.contacto .contenedor-contacto{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    text-align: center;
    padding-bottom: 30px;
}
.contacto .contenedor-contacto .fila{
    display: flex;
}
.contacto .contenedor-contacto .fila .col{
    width: 50%;
}
.contacto .contenedor-contacto .info{
    margin-bottom: 50px;
    margin-top: 50px;
    border-left: 3px solid #fd67f3;
    padding-left: 8px;
}

/* FORM */ 
.form-container {
    width: 400px;
    background: linear-gradient(to left, #000636, #000000) padding-box,
                linear-gradient(145deg, transparent 35%,#fd67f3, #4a40ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}

50% {
    background-position: 100% 50%;
}

100% {
    background-position: 0% 50%;
}
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #fd67f3;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #fd67f3;
}

.form-container .form-submit-btn {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    color: white;
    font-weight: 600;
    width: 40%;
    background: transparent;
    border: 1px solid #414141;
    padding: 12px 16px;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    box-shadow: 7px 5px 56px -14px #fd67f3;
}
.form-container .form-submit-btn:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px white;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px 25px;
    text-align: center;
}

.footer p {
    margin: 0; /* Asegúrate de eliminar cualquier margen predeterminado */
}

.social-links a {
    margin-left: 15px; /* Añade espacio entre los iconos de las redes sociales */
    color: white; /* Asegúrate de que los íconos tengan el color deseado */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

.social-links a:hover {
    color: #fd67f3; /* Opcional: cambia el color al pasar el ratón sobre los iconos */
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 1180px) {
    .inicio {
        clip-path: none;
    }
}

@media screen and (max-width: 800px) {
    .redes {
        display: none;
    }
    #nav {
        display: none;
    }
    #nav.responsive {
        background-color: rgba(0, 0, 0, .9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a {
        font-size: 30px;
    }
    #icono-nav {
        display: block;
    }
    #icono-nav:hover{
        background-color: #fd67f3;
    }

    .cerrar-menu{
        font-size: 24px;
    }
    .cerrar-menu:hover {
        color: #fd67f3; 
        cursor: pointer;
    }

    .inicio {
        height: auto;
    }
    .inicio .fila {
        display: block;
    }
    .inicio .fila .col {
        width: 100%;
        text-align: center;
    }
    .inicio .fila .col h2 {
        margin-top: 20px;
    }
    .inicio .fila .col .contenedor-img {
        width: 100%; /* Ajuste importante */
        text-align: center; /* Ajuste importante */
        margin-top: 30px;
    }

    .servicios {
        position: static;
        padding: 20px;
    }
    .servicios .fila {
        display: block;
        margin-bottom: 20px; /* Ajuste para separar las filas */
    }
    .servicios .fila .col {
        width: 100%; /* Ajuste importante */
        text-align: center; /* Ajuste importante */
    }
    .servicios .fila .col .card {
        margin-bottom: 20px;
    }
    .habilidades {
        position: static;
    }

    .trabajos nav a {
        margin: 0 5px;
    }

    .contacto .fila {
        display: block !important;
    }
    .contacto .fila .col {
        text-align: center;
        width: 100% !important;
    }
    .contacto .fila .col .info {
        float: none;
        font-size: 12px;
        width: 100%;
        margin-bottom: 10px;
    }
    .form-container {
        padding: 24px 16px;
        font-size: 12px;
    }
    
    .form-container .form-group input, 
    .form-container .form-group textarea {
        padding: 10px 14px;
    }

    .form-container .form-submit-btn {
        padding: 10px 14px;
    }
}

/* Otros ajustes */
.inicio .col p {
    text-align: justify; /* Añadido para justificar el texto */
}

.servicios .card p {
    text-align: justify; /* Añadido para justificar el texto */
}

.trabajos .galeria .item {
    width: 100%; /* Ajuste importante */
    text-align: center; /* Ajuste importante */
}

.trabajos .galeria .item .info {
    width: 100%; /* Ajuste importante */
}


